/**
 * Card component style sheet
 */

@import "../../styles/variables";
@import "../../styles/color";
@import "../../styles/mixins";

.cardContainer {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 1px 5px 5px #c8c8c8;
};

.cardHeading {
  margin: 10%;
  height: 6vh;
  color: #000000;
  font-family: $defaultFontFamily;
  font-size: 1.7vh;
  text-align: center;
  font-weight: bold;

  @include limitTextLines(3);
};

.cardImage {
  width: 16vh;
  height: 20vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10%;
};

.cardFooterBlock {
  padding: 5% 10% 10% 10%;
  border-radius: 20px;
  text-align: center;
};

.cardFooterBlockMens {
  background-color: $mensClothingCategoryThemeColor;
};

.cardFooterBlockWomens {
  background-color: $womensClothingCategoryThemeColor;
};

.cardPrice {
  margin-bottom: 5%;
  color: #0d42fe;
  font-family: $defaultFontFamily;
  font-size: 2vh;
  font-weight: bold;
};

.cardDescription {
  height: 100px;
  color: #000000;
  font-family: $defaultFontFamily;
  font-size: 17px;
  
  @include limitTextLines(5);
};
