/**
 * Header component style sheet
 */

@import "../../styles/variables";

.headerContainer {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
};

.headerContainerHeading {
  font-weight: bold;
  font-family: $defaultFontFamily;
  font-size: 3vh;
  text-decoration: none;
  color: #000000;
};

.headerDivider {
  border: 2px solid #d9d9d9;
}
