/**
 * Home page component style sheet
 */

@import "../../styles/variables";

.flashSaleContainer {
  height: 50vh;
  padding: 5vh;
}

.containerHeading {
  font-family: $containerHeadingFontFamily;
  font-size: 1.8vh;
}

.categoriesContainer {
  height: 50vh;
  padding: 5vh;
}

.categoryButtonSection {
  display: flex;
  flex-direction: row;
  gap: 5%;
  padding-top: 3vh;
}
