/* StyleSheet for Global Styles */

/* Reset page document default margin and padding 
  to full page window */
* {
  margin: 0px;
  padding: 0px;
}

/* Set page document default background color */
body {
  background-color: #f5f5f5;
}
